<header class="header">
  <div class="logo">
    <span class="logo-icon">🎯</span>
    <span class="logo-text">BingoGaru75</span>
  </div>
  <nav class="nav-links">
    <app-text-button
      class="nav-item font-medium weight-default"
      [text]="'Instrucciones'"
      [color]="'default'"
      [disabled]="false">
    </app-text-button>
    <app-text-button
      class="nav-item font-medium weight-default"
      [text]="'Seriales'"
      [color]="'default'"
      [disabled]="false">
    </app-text-button>
    <app-text-button
      class="nav-item font-medium weight-default"
      [text]="'Patrones'"
      [color]="'default'"
      [disabled]="false">
    </app-text-button>
  </nav>
</header>
