<footer class="footer">
  <nav class="nav-item">
    <div class="nav-group">
      <span class="subtitle">Sobre Nostros</span>
      <app-text-button
        class="nav-item font-medium weight-default"
        [text]="'Quienes Somos'"
        [color]="'#000'"
        [disabled]="false"
        (click)="openAboutUsDialog()">
      </app-text-button>
    </div>

    <div class="nav-group">
      <span class="subtitle">Cualquier Problema</span>
      <app-text-button
        class="nav-item font-medium weight-default"
        [text]="'Contactanos'"
        [color]="'#000'"
        [disabled]="false"
        (click)="openContactDialog()">
      </app-text-button>
    </div>
  </nav>
</footer>
