<div class="color-picker">
  <div class="summary-info" (click)="toggleColors()">
    <div class="info">
      <p class="style">{{heading}}</p>
      <p class="style-value">{{selectedColor}}</p>
    </div>
    <div class="circle" [style.background]="selectedColor"></div>
  </div>

  @if(show) {
    <div class="opened">
      <div class="colors">
        @for(color of defaultColors; track color) {
          <div
            class="circle"
            [style.background]="color"
            (click)="selectColor(color)">
          </div>
        }
      </div>
      <div class="hex-code">
        <p>Hex Code</p>
        <div class="g-input">
          <input
            type="text"
            [value]="selectedColor"
            (change)="onHexChange($event)"
            maxlength="7"/>
        </div>
      </div>
    </div>
  }
</div>
