<h2 class="settings-tittle" mat-dialog-title>Ajustes</h2>
<mat-dialog-content>
  <div class="settings-dialog-content-div">
    <mat-checkbox class="example-margin" [(ngModel)]="dialogModel().automaticRaffle">
      Tombola Automatica
    </mat-checkbox>
    <mat-checkbox class="example-margin" [(ngModel)]="dialogModel().randomPatterns">
      Aleatorizar Patrones
    </mat-checkbox>
    <mat-checkbox class="example-margin" [(ngModel)]="dialogModel().sharePrizes">
      Premios Compartidos
    </mat-checkbox>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancelar</button>
  <button mat-button [mat-dialog-close]="dialogModel()">Listo</button>
</mat-dialog-actions>
