<div class="raffle-numbers">
  <div class="raffle-header">

  </div>
  <div class="raffled-numbers-panel">
    <h2>B</h2>
    <h2>I</h2>
    <h2>N</h2>
    <h2>G</h2>
    <h2>O</h2>
    @for (bingoNumber of bingoNumbers; track $index) {
      @if (raffledNumbers().includes(bingoNumber)) {
        @if (lastNumber() == bingoNumber) {
          <div class="last-number">
            <h3>{{bingoNumber}}</h3>
          </div>
        } @else {
          <div class="raffled-number">
            <h3>{{bingoNumber}}</h3>
          </div>
        }
      } @else {
        <div class="unraffled-number">
          <h3>{{bingoNumber}}</h3>
        </div>
      }
    }
  </div>
</div>
