$primary-color: #7b2cbf;
$text: #2d3748;
$secondary-color: #FCA311;
$text-color: #FFF;
$gradient-start: #7b2cbf;
$gradient-end: #9d4edd;

.manual-container {
  padding: 2rem;
  background: #f7f7f7;
  border-radius: 16px;
  color: $text;
  font-family: Arial, sans-serif;

  .sections-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 2rem;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    color: $primary-color;
  }

  .description {
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 2rem;
    color: $text;

  }

  .section {
    margin-bottom: 2rem;
    padding: 1.5rem;
    background: #fff;
    border: 1px solid $text-color;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .section-title {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: $primary-color;
    }

    .features-list {
      list-style: none;
      padding-left: 1.5rem;

      li {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        color: $text;

        ul {
          list-style: circle;
          margin-left: 1.5rem;
          color: $text;
        }
      }
    }

    .functionality-list {
      list-style: disc;
      padding-left: 1.5rem;

      li {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        color: $text;
      }
    }
  }
}
