.lobby-div {
  display: flex;
  flex-direction: row;
  place-content: space-around;
  padding: 1rem;
}
.next-step-div {
  display: flex;
  flex-direction: row;
  place-content: end;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 750px;
}

.loading-text {
  font-size: 50px;
  color: #666;
  font-weight: 200;
}
