$backgroundPrimary: #FCA311;
$text: white;
$backgroundSecondary: #FC6611;

.rectangle-button {
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &.primary {
    background-color: $backgroundPrimary;
    color: $text;
  }

  &.secondary {
    background-color: $backgroundSecondary;
    color: white;
  }

  &:disabled {
    background-color: #d6d6d6;
    cursor: not-allowed;
  }
}
