$primary-color: #7b2cbf;
$secondary-color: #fca311;
$accent-light: #9d4edd;
.pattern-name-text {
  color: $secondary-color;
}
.pattern-section-title {
  color: $primary-color;
}
.existent-pattern-actions {
  display: flex;
  flex-direction: row;
  place-content: space-around;
  background-color: $accent-light;
  border-radius: 0.5rem;
  width: 90%;
}

.created-patterns-div {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 1rem;
}
.pattern-data-div {
  display: flex;
  flex-direction: column;
  max-width: 196px;
  align-items: center;
}

.pattern-name-text {
  height: 3rem;
}
