$secondary-color: #fca311;
$primary-color: #7b2cbf;

.serial-searcher {
  min-width: 100%;
}
.attach-serial-content-div {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 4rem;
  place-content: space-between;
}

.serial-table-header {
  color: $primary-color;
}

.mat-column-cardQuantity, .mat-column-creationDate, .mat-column-serialName {
  border: 1px solid black;
}

.button-div {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}

.selected-row {
  background-color: $primary-color;
  color: white;
  font-weight: bold;
}
