<h1 class="pattern-section-title">Patrones existentes</h1>
<button matTooltip="añadir patron" mat-icon-button (click)="openCreatePatternDialog()"><mat-icon>add</mat-icon></button>
<mat-form-field appearance="outline">
  <mat-label>Buscar Por Nombre</mat-label>
  <input (keyup)="filterPatterns($event)" matInput placeholder="Buscar Por Nombre">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>


<div class="created-patterns-div">

  @for (pattern of patternService.patterns(); track $index) {
    <div class="pattern-data-div">
      <app-pattern-card [editable]="false" [pattern]="pattern.patternMatrix"></app-pattern-card>
      <h3 class="pattern-name-text">{{pattern.patternName}}</h3>
      <div class="existent-pattern-actions">
        @if (inGame()){
          <button mat-icon-button (click)="openAddPatternToRoundDialog(pattern)"><mat-icon>add</mat-icon></button>
        }
        <button mat-icon-button (click)="openEditPatternDialog(pattern)" matTooltip="editar patron"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button (click)="deletePattern(pattern)" matTooltip="eliminar patron"><mat-icon>delete</mat-icon></button>
      </div>

    </div>
  }
</div>


