$primary-color: #7b2cbf;
$secondary-color: #fca311;

.game-div {
  display: grid;
  grid-template-columns: 50% 45%;
  grid-gap: 1rem;
  max-height: 100%;
}
.game-actions-div{
  display: flex;
  flex-direction: row;
  place-content: space-around;
}
.round-tab-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  place-content: center;
}

.game-patterns-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.game-pattern-cell-selected {
  border: 2px solid $secondary-color;
  border-radius: 1rem;
}

h4 {
  text-align: center;
  margin: 0;
}
.in-game-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-self: start;
  gap: 1rem;
  max-height: 300px;
  overflow-x: scroll;

}

.in-game-card-cell {
  background-color: $primary-color;
  min-height: 3rem;
  min-width: 3rem;
  align-content: center;
}

.section-for-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}

@media (max-width: 800px) {
  .game-div {
    display: flex;
    flex-direction: column;
  }
}
