
    <mat-tab-group (selectedTabChange)="loadRound($event)" [(selectedIndex)]="actualTab" fitInkBarToContent>
      @for (round of roundService.actualRounds(); track $index) {
        <mat-tab  [label]="round.roundName" [disabled]="disableRounds[$index]">
          <div class="game-div">
            <div class="round-tab-content">
              <app-round-tab [round]="round"></app-round-tab>
            </div>
            <div class="section-for-cards">
              <app-roun-list-in-game [round]="round"></app-roun-list-in-game>
              <mat-form-field appearance="outline">
                <mat-label>Ingrese el numero de la carta</mat-label>
                <input matInput type="number" [formControl]="cardForm">
              </mat-form-field>
              <div>
                <div class="in-game-div">
                  @if (getPaginatedList().length > 0) {
                    @for (card of getPaginatedList(); track card.cardNumber) {
                      <app-sale-button [selected]="roundService.isBingoValidAndNotPassedOnAnyPattern(activePatterns, card.contentMatrix, round.raffleNumbers)" (click)="verifyCardDialog(card)" [viewOnly]="true" [gameCard]="card" />
                    }
                  } @else {
                    <h2>no se encontro carta Nº {{cardForm.value}}</h2>
                  }
                </div>
              </div>
              <div class="game-actions-div">
                <button (click)="endRound($index)" mat-stroked-button>Finalizar ronda</button>
                <button (click)="finishGame()" mat-flat-button>Terminar partida</button>
                <button (click)="openBottomPrizes(round)" mat-stroked-button>ver premios</button>
              </div>
            </div>
          </div>
        </mat-tab>
      }
    </mat-tab-group>



