<div class="serials-page-div">
  <div class="serials-page-header-div">
    <h1 class="serials-page-title">Seriales:</h1>
    <p class="serials-page-context">
      En esta secccion: puede <a routerLink="generate">generar un serial</a>  para crear un nuevo conjunto de cartones de bingo o <a routerLink="attach">adjuntar un serial existente</a>  si ya lo tiene.
      Los seriales agrupan cartones de forma organizada, facilitando su impresión, distribución o venta a los jugadores.
    </p>
  </div>
  <router-outlet></router-outlet>
</div>
