<div class="generate-serial-content-div">
  <mat-form-field appearance="outline" >
    <mat-label>Cantidad de cartones</mat-label>
    <input matInput placeholder="Cantidad de cartones" type="number" min="50">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Nombre del serial</mat-label>
    <input matInput placeholder="Nombre del serial">
  </mat-form-field>
  <app-rectanglebutton class="button" text="Confirmar" color="primary" heightClass="50px" widthClass="150px" fontSize="16px"></app-rectanglebutton>
</div>
