$secondary-color: #fca311;
$primary-color: #7b2cbf;

.serials-page-div {
  display: flex;
  flex-direction: column;
  place-content: center;
  padding: 2rem;
  gap: 2rem;
}
a {
  color: $secondary-color;
  font-weight: bold;
}
.serials-page-header-div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.serials-page-title {
  color: $primary-color;
}
