<div class="attach-serial-content-div">
  <div class="created-serials-section">
    <mat-form-field appearance="outline" class="serial-searcher">
      <mat-label>Buscar por nombre...</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar por nombre..." #input>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="example-table" matSort>
      <ng-container matColumnDef="serialName">
        <th class="serial-table-header" mat-header-cell *matHeaderCellDef>
          Nombre
        </th>
        <td mat-cell *matCellDef="let row">{{row.serialName}}</td>
      </ng-container>
      <ng-container matColumnDef="cardQuantity">
        <th class="serial-table-header" mat-header-cell *matHeaderCellDef mat-sort-header>
          Número de Cartas
        </th>
        <td mat-cell *matCellDef="let row">{{row.cardQuantity}}</td>
      </ng-container>
      <ng-container matColumnDef="creationDate">
        <th class="serial-table-header" mat-header-cell *matHeaderCellDef mat-sort-header>
          Fecha de creación
        </th>
        <td mat-cell *matCellDef="let row">{{row.creationDate | date}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matNoDataRow>
        <td colspan="4">no se encontro un serial con el nombre "{{input.value}}"</td>
      </tr>
      <tr
        mat-row
        *matRowDef="let row; columns: columns;"
        (click)="selectedSerial = row"
        [class.selected-row]="selectedSerial == row"
      ></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Elige pagina de seriales"></mat-paginator>
  </div>
  @if (useToGenerate() === false) {
    <div class="generate-serial-content-div" [formGroup]="serialFormGroup">
      <mat-form-field appearance="outline" >
        <mat-label>Cantidad de cartones</mat-label>
        <input [formControl]="serialFormGroup.controls.quantity" matInput placeholder="Cantidad de cartones" type="number" min="5">
        <mat-hint>min 5 cartas</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nombre del serial</mat-label>
        <input [formControl]="serialFormGroup.controls.name" matInput placeholder="Nombre del serial">
        <mat-hint>min 2 caracteres</mat-hint>
      </mat-form-field>
      <app-rectanglebutton (click)="createSerial()" class="button" text="Confirmar" color="primary" heightClass="50px" widthClass="150px" fontSize="16px"></app-rectanglebutton>
      <div class="button-div">
        <app-rectanglebutton [disabled]="!ableToAttach" (click)="attachSerialToActualGame(selectedSerial)" class="attach-serial-button" text="Adjuntar Serial Seleccionado" color="primary" heightClass="50px" widthClass="150px" fontSize="16px"></app-rectanglebutton>
      </div>
    </div>

  } @else {
    <div class="generate-serial-content-div" [formGroup]="serialFormGroup">
      <mat-form-field appearance="outline" >
        <mat-label>Cantidad de cartones</mat-label>
        <input [formControl]="serialFormGroup.controls.quantity" matInput placeholder="Cantidad de cartones" type="number" min="5">
        <mat-hint>min 5 cartas</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nombre del serial</mat-label>
        <input [formControl]="serialFormGroup.controls.name" matInput placeholder="Nombre del serial">
        <mat-hint>min 2 caracteres</mat-hint>
      </mat-form-field>
      <app-rectanglebutton (click)="createSerial()" class="button" text="Confirmar" color="primary" heightClass="50px" widthClass="150px" fontSize="16px"></app-rectanglebutton>
    </div>

  }
</div>
