$secondary-color: #fca311;
$primary-color: #7b2cbf;



.serials-page-title {
  color: $primary-color;
}

.serials-page-actions-div {
  display: flex;
  flex-direction: row;
  place-content: space-evenly;

}

.serial-page-button {
  padding-top: 36px;
  width: 30%;
  background-color: white;
  border-radius: 0.5rem;
  border: 1px solid gray;
  box-shadow: 2px 2px gray;
}
.serial-button-icon {
  scale: 3;
  color: $secondary-color;
  padding-bottom: 0.5rem;
}
.serial-button-context {
  font-size: 0.9rem;
}
