@if (rounds()!.length > 0) {
  @for (round of rounds(); track round.id) {
    <div>
      <h2>{{ round.roundName }}</h2>

      <h3>Patrones y Premios:</h3>

      <div class="pattern-container">
        @if (patternsByRound().has(round.id!)) {
          @for (pattern of patternsByRound().get(round.id!) ?? []; track pattern.patternName) {
            <div class="pattern-item">
              <span>{{ pattern.patternName }}</span>
              <span>{{ pattern.targetPrice }} Bs</span>
            </div>
          }
        } @else {
          <div class="pattern-item">Cargando patrones...</div>
        }
      </div>
    </div>
  }
} @else {
  <p>No hay rondas disponibles.</p>
}
