<mat-card class="login-card">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <h3>Log in</h3>
    <mat-form-field appearance="outline">
      <mat-label>Email </mat-label>
      <input formControlName="email" matInput type="email" placeholder="name@example.com">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input formControlName="password" matInput type="password" placeholder="Password">
    </mat-form-field>
    <button mat-flat-button type="submit" class="input-button">
      Log In
    </button>
  </form>
</mat-card>
