<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer
              [mode]="'over'"
              [(opened)]="isDrawerOpen"
              class="drawer">
    <nav class="drawer-links">
      <app-text-button
        class="nav-item"
        text="Home"
        color="default"
        [routerLink]="'/'"
        (click)="closeDrawerOnMobile()">
      </app-text-button>
      <app-text-button
        class="nav-item"
        text="Instrucciones"
        color="default"
        [routerLink]="'bingo//instructions'"
        (click)="closeDrawerOnMobile()">
      </app-text-button>
      <app-text-button
        class="nav-item"
        text="Seriales"
        color="default"
        [routerLink]="'bingo//serials'"
        (click)="closeDrawerOnMobile()">
      </app-text-button>
      <app-text-button
        class="nav-item"
        text="Patrones"
        color="default"
        [routerLink]="'bingo//patterns'"
        (click)="closeDrawerOnMobile()">
      </app-text-button>
      <app-text-button
        class="nav-item"
        text="Historial"
        color="default"
        [routerLink]="'bingo//history'"
        (click)="closeDrawerOnMobile()">
      </app-text-button>
    </nav>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar class="header">
      <div class="logo" (click)="toggleDrawer()"
           [routerLink]="isMobile ? null : '/'"
           [class.clickable]="isMobile"
           role="button"
           [attr.tabindex]="isMobile ? 0 : -1">
        <img src="Logo.png">
      </div>

      <nav class="nav-links" *ngIf="shouldShowNavLinks()">
        <app-text-button
          class="nav-item font-medium weight-default"
          text="Instrucciones"
          color="default"
          [routerLink]="'bingo//instructions'">
        </app-text-button>
        <app-text-button
          class="nav-item font-medium weight-default"
          text="Seriales"
          color="default"
          [routerLink]="'bingo//serials'">
        </app-text-button>
        <app-text-button
          class="nav-item font-medium weight-default"
          text="Patrones"
          color="default"
          [routerLink]="'bingo//patterns'">
        </app-text-button>
        <app-text-button
          class="nav-item font-medium weight-default"
          text="Historial"
          color="default"
          [routerLink]="'bingo//history'">
        </app-text-button>
      </nav>
    </mat-toolbar>

    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
