<h1 class="dialog-tittle" mat-dialog-title>
  Nuevo Patron
</h1>
<h2 class="dialog-subtitle">
  Personaliza tu patron
</h2>
<mat-dialog-content style="padding-top: 1rem">
  <mat-form-field appearance="outline">
    <mat-label>Nombre del patron</mat-label>
    <input matInput [(ngModel)]="dialogModel().name" />
  </mat-form-field>
  <app-pattern-card [editable]="true" [pattern]="dialogModel().pattern"></app-pattern-card>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancelar</button>
  <button mat-button [mat-dialog-close]="dialogModel()">Listo</button>
</mat-dialog-actions>
