$primary-color: #7b2cbf;
$secondary-color: #fca311;
@keyframes blink {
  0% { background-color: white; }
  50% { background-color: $secondary-color; }
  100% { background-color: white; }
}

.pattern-name-text {
  color: $primary-color;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 196px;
}
.has-winner {

  text-align: center;
  line-height: 100px;
  font-weight: bold;
  font-size: 18px;
  color: black;
  border-radius: 10px;
  animation: blink 3s infinite ease-in-out;
}
