<div class="serials-page-actions-div">

  <button class="serial-page-button" routerLink="generate">
    <mat-icon class="serial-button-icon">post_add</mat-icon>
    <h2 class="serials-page-title">Generar un serial</h2>
    <p class="serial-button-context">Si deseas generar un conjunto de cartones nuevos, selecciona esta opción e ingresa la cantidad de cartones que necesitas. ¡Empieza a crear tus cartones personalizados ahora!</p>
  </button>
  <button class="serial-page-button" routerLink="attach">
    <mat-icon class="serial-button-icon">attach_file</mat-icon>
    <h2 class="serials-page-title">Adjuntar un serial</h2>
    <p class="serial-button-context">Si desea adjuntar un serial existente, seleccione esta opción para cargar un conjunto de cartones previamente creado</p>
  </button>
</div>
