@if (gameService.gameCards().length < 1) {
  <h2>Adjunta primero un serial a la partida para poder gestionar su venta</h2>
} @else {
  <div class="sale-panel-div">
    <div class="sale-actions-panel-div">
      @if (displayedCard) {
        <div class="card-preview-sale">
          <app-bingo-card [card]="displayedCard" [boughtBy]="displayedCardBuyer" class="card"/>
          <button (click)="openExportDialog()" class="export-button">
            Exportar Carta
          </button>
          <button (click)="openExportTwoCardsDialog()" class="export-button">
            Exportar 2x1
          </button>
        </div>
      }
      <app-rectanglebutton (click)="sellCards()" text="Vender cartones seleccionados"></app-rectanglebutton>
    </div>
    <div>
      <div class="sale-table-actions">
        <mat-form-field appearance="outline" class="serial-searcher">
          <mat-label>Buscar por nombre/numero...</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Buscar por nombre..." #input>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button mat-stroked-button (click)="generateCSV()">Exportar ventas a .csv</button>
      </div>
      <div class="sale-cards-panel-div">
        <table mat-table [dataSource]="dataSource" class="example-table" matSort>
          <ng-container matColumnDef="cardNumber">
            <th class="serial-table-header" mat-header-cell *matHeaderCellDef mat-sort-header>
              Número de carton
            </th>
            <td mat-cell *matCellDef="let row">Nº {{row.cardNumber}}</td>
          </ng-container>
          <ng-container matColumnDef="sold">
            <th class="serial-table-header" mat-header-cell *matHeaderCellDef mat-sort-header>
              Estado de la carta
            </th>
            <td mat-cell *matCellDef="let row">
              @if (row.sold) {
                VENDIDO
              } @else {
                NO VENDIDO
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="userName">
            <th class="serial-table-header" mat-header-cell *matHeaderCellDef mat-sort-header>
              Nombre del comprador
            </th>
            <td mat-cell *matCellDef="let row">
              @if (row.userName.length > 0) {
                {{row.userName | titlecase}}
              } @else {
                 - - - - - - - - - - - - - -
              }
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matNoDataRow>
            <td colspan="4">no se encontro un carton con el nombre "{{input.value}}"</td>
          </tr>
          <tr
            mat-row

            *matRowDef="let row; columns: columns;"
            (click)="selectCard(row)"
            (mouseover)="displayCard(row)"
            (tap)="displayCard(row)"
            [class.selected-row]="selectedCards().includes(row)"
            [class.sold-row]="row.sold && !selectedCards().includes(row)"
            [class.unsold-row]="!row.sold && !selectedCards().includes(row)"
          ></tr>
        </table>
        <mat-paginator [showFirstLastButtons]="true"  [pageSizeOptions]="[5, 10]" pageSize="10" aria-label="Elige pagina de seriales"></mat-paginator>
      </div>
    </div>

  </div>
  <div class="next-step-div">
    <button mat-raised-button matStepperNext>Siguiente</button>
  </div>


}
