
.attached-patterns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-width: 60%;
  max-height: 100vh;
  gap: 1rem;
}

.prize-step-div {
  display: flex;
  flex-direction: row;
  place-content: space-evenly;
}

.start-game-div {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  place-content: start;
  gap: 1rem;
  align-items: center;
}
