.round-content-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.raffle-actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.last-raffled-number {
  display: flex;
  flex-direction: column;
  background-color: red;
  color: white;
  width: 6rem;
  height: 6rem;
  border-radius: 5rem;
  place-content: center;
}
.animated {
  animation: fallDown 0.5s linear;
}
h2 {
  margin: 0;
  padding: 0;
  font-size: 4rem;
  text-align: center;
}

@keyframes fallDown {
  0% {
    transform: translateY(-70vh);
    height: 8rem;
    width: 8rem;
    background-color: blue;
    color: white;
    border-radius: 7rem;
  }
  100% {
    transform: translateY(0);
    height: 6rem;
    width: 6rem;
    border-radius: 5rem;
  }
}
